/* Base Application Styles */
@font-face {
  font-family: "arrow";
  /*src: url('../font/icon/arrow.eot');
  src: url('../font/icon/arrow.eot?#iefix') format('embedded-opentype'),
  url('../font/icon/arrow.woff') format('woff'),
  url('../font/icon/arrow.ttf') format('truetype'), */
  src: url('../font/icon/arrow.svg') format('svg');
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
}

.app{
  width: 100%;
  height: 100%;
}

.stage{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 700px;
}

.image-sec{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ddd;
  @at-root {
    .img-figure {
      position: absolute;
      width: 320px;
      height: 330px;
      margin: 0;
      cursor: pointer;
      background-color: #fff;
      text-align: center;
      //三个参数分别代表xyz轴的变形原点
      transform-origin: 0 50% 0;
      transform-style: preserve-3d;
      //定义left和top变化时变化的时间和动画类型
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
      //&:sass对于父类写的属性，向右移动320px(一个图片的宽度),达到翻转后还是在原处
      &.is-inverse {
        transform: translate(320px) rotateY(180deg);
      }
      img {
        margin-top: 20px;
        max-width: 280px;
        max-height: 280px;
      }
      figcaption {
        text-align: center;
        .img-title {
          margin: 10px 0 0 0;
          font-size: 16px;
          color: #a7a0a2;
        }
        .img-back {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          padding: 30px;
          box-sizing: border-box;
          text-align: center;
          color: #000;
          transform: rotateY(180deg) translateZ(1px);
          backface-visibility:hidden;
          background-color: #a7a0a2;
        }
      }
    }
  }
}

.controller-nav{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 30px;
  z-index: 101;
  text-align: center;
  @at-root {
    .controller-unit{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #aaa;
      transform: scale(0.5);
      cursor: pointer;
      transform-style: preserve-3d;
      transition: transform .6s ease-in-out, background-color .3s ease-in-out;
      &:hover{ transform: scale(0.7);background-color: #0096ff
      }
      &.is-center{
        transform: scale(1);
        background-color: #0096ff;
      }
      &.is-inverse{
        background-color: #a7a0a2;
        transform: rotateY(180deg) translateZ(1px);
      }
      &.arrow{
        font-family:"arrow" !important;
        font-size:16px;
        font-style:normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}
.commentBox{
  margin-top: 30px;
}

