/* Base Application Styles */
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0%;
  background-color: #222;
}

.app{
  width: 100%;
  height: 100%;
}

.stage{
  position: relative;
  width: 100%;
  height: 680px;
}

.image-sec{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ddd;
  @at-root {
    .img-figure {
      position: absolute;
      width: 320px;
      height: 320px;
      margin: 0;
      background-color: #fff;
      text-align: center;
      img {
        max-width: 280px;
        max-height: 280px;
      }
    }
    figcaption {
      text-align: center;
      .img-title {
        margin: 20px 0 0 0;
        font-size: 16px;
        color: #a7a0a2;
      }
    }
  }
}

.controller-nav{
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 30px;
  z-index: 101;
  text-align: center;
}

